In [4]:
import pandas as pd 
import psycopg2 
import config

In [10]:
conn = psycopg2.connect(host=config.dbhost, port=5432, database="office_product_data", user=config.user, password=config.dbpass)
cur = conn.cursor()

cur.execute('''SELECT * FROM vine_program_reviews''')
vine_program_reviews = pd.DataFrame(cur.fetchall())
vine_program_reviews.columns = [i[0] for i in cur.description]
 
cur.execute('''SELECT * FROM non_vine_program_reviews''')
non_vine_program_reviews = pd.DataFrame(cur.fetchall())
non_vine_program_reviews.columns = [i[0] for i in cur.description]

conn.close()

In [11]:
vine_program_reviews.head()
non_vine_program_reviews.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3JIGR122X50ZV,5,2280,2314,Y,N
1,R3KV8P8WLD2KKC,5,263,286,Y,N
2,R3P01OXMA0U0CA,5,114,117,Y,N
3,R2LFY2ZPJ3J7RH,4,36,38,Y,N
4,R2SCMXBD9OQP8Z,2,22,26,Y,N

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R243UXMMSSZVS6,2,254,254,N,Y
1,R2J6UYRU7AX8NS,5,23,24,N,Y
2,RN93Z4XPNAANY,5,31,31,N,Y
3,R1O74T9XO3OPQ4,5,38,38,N,Y
4,R3LANI678T2YQS,5,39,47,N,N

In [21]:
vine_summary = pd.DataFrame([[1,2,3],[4,5,6]], columns=['a','b','c'])

In [71]:
vine_review_count = vine_program_reviews.review_id.count()
non_vine_review_count = non_vine_program_reviews.review_id.count()

vine_5star = vine_program_reviews[vine_program_reviews['star_rating'] == 5].count()[0]
non_vine_5star = non_vine_program_reviews[non_vine_program_reviews['star_rating'] == 5].count()[0]

vine_5star_percent = vine_program_reviews[vine_program_reviews['star_rating'] == 5].count()[0]/vine_program_reviews.review_id.count()
non_vine_5star_percent = non_vine_program_reviews[non_vine_program_reviews['star_rating'] == 5].count()[0]/ non_vine_program_reviews.review_id.count()

vine_5star_percent = "{:.2%}".format(vine_5star_percent)
non_vine_5star_percent = "{:.2%}".format(non_vine_5star_percent)

In [75]:
vine_summary = pd.DataFrame({'total_vine_reviews':[vine_review_count],
                            'total_non_vine_reviews':[non_vine_review_count],
                            'total_5_star_vine_reviews':[vine_5star],
                            'total_5_star_non_vine_reviews':[non_vine_5star],
                            'vine_reviews_5_star_percentage':[vine_5_star_percent],
                            'non_vine_reviews_5_star_percentage':[non_vine_5star_percent]})

In [76]:
vine_summary

,total_vine_reviews,total_non_vine_reviews,total_5_star_vine_reviews,total_5_star_non_vine_reviews,vine_reviews_5_star_percentage,non_vine_reviews_5_star_percentage
0,926,41096,408,18104,44.05%,44.05%